package templates

templ CommentForm(){
    <form hx-post="/comment" hx-swap="outerHTML">
        <input class="bg-slate-700" name="comment" type="text" />
        <button type="submit">Sumbit</button>
    </form>
}

templ Index(){
    <div class="p-4">
        <h1 class="text-xl">Post a comment</h1>
        @CommentForm()
    </div>
}